* {
    transition: all 0.5s ease;
}

body,
.img-atomo,
#contact-soultech,
.title,
#apresentation-soultech,
.faq-item,
.card1,
.card2,
.card3,
.card-top,
.square-information,
.face-img,
#footer-div,
.menu-toggle,
.itens-nav-div,
.square-front-contact,
#frequently-questions {
    transition: all 0.5s ease;
}

@media only screen and (max-width: 319px) {
    .itens-nav-div {
        display: none;
    }

    .img-atomo {
        display: none;
    }

    #contact-soultech {
        right: 0;
        width: 90%;
    }

    #frequently-questions {
        padding: 10px;
    }

    .faq-item {
        margin-bottom: 10px;
    }

    .question-div {
        padding: 8px;
        width: 8%;
    }

    .question-faq {
        font-size: 0.9rem;
    }

    .faq-answer {
        padding: 8px;
        font-size: 0.85rem;
        width: 8%;
    }

    .soultech-footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .left-footer .img-footer-logo {
        max-width: 200px;
    }

    .middle-footer p {
        font-size: 0.7rem;
        margin-bottom: 20%;
    }

    .right-footer {
        margin-left: 10%;
        margin-bottom: 20%;
    }


    .apresentacao p {
        width: 225px;
    }

    .saiba-mais-soultech {
        display: flex;
        justify-content: left;
    }

    .apresentacao {
        margin-left: -20px;
    }

    .faq-item {
        width: 80%;
    }

    .card1,
    .card2,
    .card3 {
        width: 7rem;
        height: 20rem;
        margin-top: 30px;
    }

    #soultech-cards {
        flex-direction: column;
        align-items: center;
    }

    .card1,
    .card2,
    .card3 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .card1 h1,
    .card2 h1,
    .card3 h1 {
        font-size: 0.85rem;
    }

    .card-top {
        width: 4rem;
        height: 4rem;
        top: -2rem;
    }

    .card-top img {
        scale: 400%;
    }

    .square-information {
        flex-direction: column;
        text-align: center;
    }

    .face-img {
        display: none;
    }

    #footer-div {
        margin-top: 7rem;
    }

    .square-front-contact h1 {
        text-align: center;
    }

    .question-div {
        background-position: bottom 1px;
        background-position-y: calc(100% + -20px);

    }

    #frequently-questions {
        flex-direction: column;
    }

    .faq-item {
        width: 1200%;
    }

    .itens-nav-div {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .itens-nav-div.active {
        display: flex;
    }

    .itens-nav-div ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .itens-nav-div ul li {
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px;
        transform: translateY(-0%);
        padding: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 1000;
        flex-direction: column;
        gap: 5px;
    }

    .menu-toggle .bar {
        background-color: #fff;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .itens-nav-div {
        display: none;
    }

    .img-atomo {
        display: none;
    }

    #contact-soultech {
        right: 0;
        width: 80%;
    }

    #frequently-questions {
        padding: 10px;
    }

    .faq-item {
        margin-bottom: 10px;
    }

    .question-div {
        padding: 8px;
        width: 8%;
    }

    .question-faq {
        font-size: 0.9rem;
    }

    .faq-answer {
        padding: 8px;
        font-size: 0.85rem;
        width: 8%;
    }

    .soultech-footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .left-footer .img-footer-logo {
        max-width: 200px;
    }

    .middle-footer p {
        font-size: 0.7rem;
        margin-bottom: 20%;
    }

    .right-footer {
        margin-left: 10%;
        margin-bottom: 20%;
    }


    .apresentacao p {
        width: 225px;
    }

    .saiba-mais-soultech {
        display: flex;
        justify-content: left;
    }

    .apresentacao {
        margin-left: -20px;
    }

    .faq-item {
        width: 80%;
    }

    .card1,
    .card2,
    .card3 {
        width: 15rem;
        height: 30rem;
        margin-top: 30px;
    }

    #soultech-cards {
        flex-direction: column;
        align-items: center;
    }

    .card1,
    .card2,
    .card3 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .card1 h1,
    .card2 h1,
    .card3 h1 {
        font-size: 0.85rem;
    }

    .card-top {
        width: 4rem;
        height: 4rem;
        top: -2rem;
    }

    .card-top img {
        scale: 400%;
    }

    .square-information {
        flex-direction: column;
        text-align: center;
    }

    .face-img {
        display: none;
    }

    #footer-div {
        margin-top: 7rem;
    }

    .square-front-contact h1 {
        text-align: center;
    }

    .question-div {
        background-position: bottom 1px;
        background-position-y: calc(100% + -20px);
    }

    #frequently-questions {
        flex-direction: column;
    }

    .faq-item {
        width: 1200%;
    }

    .itens-nav-div {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .itens-nav-div.active {
        display: flex;
    }

    .itens-nav-div ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .itens-nav-div ul li {
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px;
        transform: translateY(-0%);
        padding: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 1000;
        flex-direction: column;
        gap: 5px;
    }

    .menu-toggle .bar {
        background-color: #fff;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .itens-nav-div {
        display: none;
    }

    #contact-soultech {
        right: 0;
        width: 50%;
    }

    .img-atomo {
        display: none;
    }

    .apresentacao {
        margin-left: -20px;
    }

    .faq-item {
        width: 80%;
    }

    #soultech-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .card1,
    .card2,
    .card3 {
        width: 7rem;
        height: 20rem;
        margin: 10px;
        flex: 1 1 45%;
        max-width: 45%;
    }

    .card3 {
        order: 3;
    }

    .card1 h1,
    .card2 h1,
    .card3 h1 {
        margin-top: -20px;
    }

    .card-top {
        width: 4rem;
        height: 4rem;
        position: relative;
        top: -2rem;
    }

    .card-top img {
        scale: 400%;
    }


    .square-information {
        flex-direction: column;
        text-align: center;
    }

    .face-img {
        display: none;
    }

    #footer-div {
        margin-top: 7rem;
    }

    .square-front-contact h1 {
        text-align: center;
    }

    .question-div {
        background-position: bottom 1px;
        background-position-y: calc(100% + -20px);

    }

    .itens-nav-div {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .itens-nav-div.active {
        display: flex;
    }

    .itens-nav-div ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .itens-nav-div ul li {
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px;
        transform: translateY(-0%);
        padding: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        z-index: 1000;
        flex-direction: column;
        gap: 5px;
    }

    .menu-toggle .bar {
        background-color: #fff;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    .itens-nav-div.active {
        display: none;
    }

    #apresentation-soultech {
        scale: 90%;
        font-size: 0.9rem;
        margin-left: 0rem;

    }

    .img-atomo {
        display: none;
    }

    #contact-soultech {
        right: 0;
    }

    .faq-item {
        width: 80%;
    }

    .card1,
    .card2,
    .card3 {
        width: 10rem;
        height: 20rem;
    }

    .card1 h1,
    .card2 h1,
    .card3 h1 {
        font-size: 1.2rem;
    }

    .card-top {
        width: 5rem;
        height: 5rem;
        top: -2.5rem;
    }

    .card-top img {
        scale: 400%;
    }

    .square-information {
        flex-direction: column;
        text-align: center;
    }

    .face-img {
        display: none;
    }

    #footer-div {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .menu-toggle {
        display: none;
    }

    .itens-nav-div.active {
        display: none;
    }

    .img-atomo {
        margin-left: 110%;
        scale: 4500%;
    }

    #contact-soultech {
        right: 14%;
    }

    #footer-div {
        margin-top: 10rem;
    }

    #apresentation-soultech {
        margin-left: 5rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1201px) {
    .menu-toggle {
        display: none;
    }

    .itens-nav-div.active {
        display: none;
    }

    .img-atomo {
        margin-left: 112%;
        scale: 4500%;
    }

    #contact-soultech {
        right: 7%;
    }

    #apresentation-soultech {
        margin-left: 10rem;
        font-size: 1.2rem;
    }
}